*{
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
.container{
    width:1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.top{
    flex-grow: 1;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    border-bottom: 1px solid #000;;
}
.menu_list{
    list-style-type: none;
    display: flex;
}
.menu_link{
    display:block;
    padding: 8px 16px;
    text-decoration: none;
    color:gray;
}
.menu_link:hover{
    color: black;
}
.header{
    margin: 15px 15px;
    text-align: center;
    font-family: "Arial Black", fantasy;
    font-size: 16px;
}
.main{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.target{
    margin: 5px 5px;
    text-align: center;
    flex-grow:1;
}
.target__block{
    border: 1px solid #000;
    margin:10px auto;
    width: 300px;
}
.target__top{
    border-bottom:1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.target__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.target__title, .user__title{
    width:120px;
    text-align: left;
    margin-bottom: 15px;
}
.edit_img{
    width:15px;
    margin-left: 5px;
    opacity:0.6;
}
.edit_img_else {
    width: 12px;
}
.edit_img:hover{
    opacity:1;
}
.targets__plan{
    display: flex;
    justify-content: center;
    background-color: #8fb4f9;
}
.target_option{
    display: flex;
    flex-direction: column;
    margin:5px 10px;
    align-items:center;
}
.target_head{
    text-align: center;
    font-size: 14px;
    padding: 10px 10px;
    color:white;
    font-family: cursive;
}
.footer {
    margin-top:50px;
    margin-bottom:30px;
    border-top:1px solid black;
    padding-top:15px;
    display:flex;
    justify-content:space-between;
}
.btn_save{
    background-image: url("check-solid.svg");
    height:35px;
    width:35px;
    margin-top:18px;
    background-color:white;
    border-radius:10px;
}
.btn_save:hover{
    position: relative;
    top:2px;
}
.description {
    margin-top: 25px;
    display: flex;
    justify-content:space-around;
    flex-wrap:wrap;
}
.description_type{
    max-width:45%;
    margin-top:55px;
    padding:20px 20px;
    border:1px solid black;
    border-radius:50px;
    text-align:center;

}
.description_list{
    margin-top:10px;
    font-style: italic;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.description_list_title{
    padding: 10px 10px;
}
.authorization{
    display: flex;
    justify-content: space-between;
}
.sign{
    border-radius: 12px;
    margin-right:15px;
    background-color: white;
}
.sign:hover{
    background-color: black;
    color: white;
}
.elements{
    display: flex;
    justify-content: space-between;
}
.dropdown_lang{
    margin-right: 15px;
    margin-top:18px;
    list-style-type: none;
    color:grey;

}
.dropdown_item{
    visibility: hidden;
    color:grey;
}
.dropdown_lang:hover .dropdown_item{
    visibility: visible;
    text-decoration: none;
}
.dropdown_item:hover{
    color:black;
}
.logo{
    align-self:flex-start
}
.profile{
    display: flex;
    justify-content: space-around;
    flex-direction:column;
}
.profile_item{
    margin: 10px 15px;
}
.btn_logout{
    color:gray;
    padding: 8px 16px;
    border-radius: 12px;
    margin-right:15px;
    background-color: white;
}
.btn_logout:hover{
    position: relative;
    top:2px;
}
.users_info, .users_form{
    display: flex;

}
.user_info_title{
    padding: 15px 10px;
    align-self:center;
}
.user_info{
    display: flex;
    flex-direction: column;
    padding:10px 15px;
}
.btn_save_mini{
    height:25px;
    width:25px;
}
.error{
    margin: 50px;
    font-size: 18px;
    font-style: italic;
}



