<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title th:text="#{main.title}"></title>
    <link rel="stylesheet" th:href="@{style.css}">
    <script src="https://kit.fontawesome.com/90f5d1d736.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="container">
    <div class="top">
        <div th:replace="~{navigation :: navigation(home)}"></div>
        <div class="header" th:text="#{main.header}"></div>
        <div class="main_img"><img th:if="${lang_flag == 1}" src="main_background.PNG" alt="main_background"></div>
        <div class="main_img"><img th:if="${lang_flag == 0}" src="main_background_en.PNG" alt="main_background"></div>
    </div>
    <div class="footer">
        &copy Vadim Rybakov product <br>
        <i>svadimio9217@gmail.com</i>
    </div>
</div>
</body>
</html>