<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Заготовка планнера</title>
    <link rel="stylesheet" th:href="@{style.css}">
    <link rel="stylesheet" th:href="@{font-awesome.min.css}">
    <script src="https://kit.fontawesome.com/90f5d1d736.js" crossorigin="anonymous"></script>
</head>


<body>
<div class="container">
    <div class="top">
        <div th:replace="~{navigation :: navigation(targets)}"></div>
        <div class="header">Простой недельный планер</div>
        <div class="main">
            <div class="target__block" th:each="d : ${days}">
                <div class="target target__top">
                    <div class="day__title" th:text="${d.title}"></div>
                    <a class="btn_edit" th:href="@{'/day/edit/?d'}">
                        <img class="edit_img" src="edit-regular.svg" alt="edit-regular">
                    </a>
                </div>
                <div class="target target__bottom" th:each="t : ${d.dayTargets}">
                    <div class="target target__title" th:text="${t.title}"></div>
                    <div class="target target__priority" th:text="${t.priority}"></div>
                    <div class="target target__creation" th:text="${t.creation}"></div>
                    <div class="target target__time" th:text="${t.time}"></div>
                </div>
            </div>
            <div class="target__block">
                <div class="target target__top">
                    <div class="week__title"> Цели недели</div>
                    <a class="btn_edit" th:href="@{'/week/edit/?w'}">
                        <img class="edit_img" src="edit-regular.svg" alt="edit-regular">
                    </a>
                </div>
                <div class="target target__bottom" th:each="t : ${targets}">
                    <div class="target target__title" th:text="${t}"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">&copy Vadim Rybakov product</div>
</div>
</body>
</html>