<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Простой недельный планер</title>
    <link rel="stylesheet" th:href="@{style.css}">
    <script src="https://kit.fontawesome.com/90f5d1d736.js" crossorigin="anonymous"></script>
</head>


<body>
<div class="container">
    <div class="top">
        <div th:replace="~{navigation :: navigation(targets)}"></div>
        <div class="header">Добро пожаловать на страницу Вашего нового дневника!</div>
        <div class="main_img"><img src="main_background.PNG" alt="main_background"></div>
    </div>
    <div class="footer">&copy Vadim Rybakov product</div>
</div>
</body>
</html>