<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>
    <div th:fragment="navigation(activeTab)">
        <div class="nav">
            <img class="logo" src="logo.png" alt="logo">
            <ul class="menu_list">
                <li><a th:href="@{/}" class="menu_link" th:text="#{nav.home}"></a></li>
                <li><a th:href="@{/plan}" class="menu_link" th:text="#{nav.plans}"></a></li>
                <li><a th:href="@{/profile}" class="menu_link" th:text="#{nav.profile}"></a></li>
            </ul>
            <ul class="dropdown_lang">
                <li class="dropdown_lang" th:text="#{nav.lang}"></li>
                <li><a class="dropdown_item" th:href="@{/?lang=ru}">рус</a></li>
                <li><a class="dropdown_item" th:href="@{/?lang=en}">eng</a></li>
            </ul>
            <div sec:authorize="isAnonymous()" class="authorization">
                <a th:href="@{/plan}" class="menu_link sign" th:text="#{nav.login}"></a>
                <a th:href="@{/login}" class="menu_link sign" th:text="#{nav.registration}"></a>
            </div>
            <div sec:authorize="hasRole('ADMIN')" class="user_link">
                <a class="menu_link" th:href="@{/users}" th:text="#{nav.users}"></a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="POST">
                    <button id="navLogout" class="btn_logout" type="submit" th:text="#{nav.logout}"></button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>