<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>
    <div th:fragment="navigation(activeTab)">
        <div class="nav">
            <img class="logo" src="logo.png" alt="logo">
            <ul class="menu_list">
                <li><a th:href="@{/}" class="menu_link" th:text="#{nav.home}"></a></li>
                <li><a th:href="@{/targets}" class="menu_link" th:text="#{nav.addTarget}"></a></li>
                <li><a th:href="@{/plan}" class="menu_link" th:text="#{nav.plans}"></a></li>
                <li><a th:href="@{/profile}" class="menu_link" th:text="#{nav.profile}"></a></li>
            </ul>
            <ul class="dropdown_lang">
                <li class="dropdown_lang" th:text="#{nav.lang}"></li>
                <li><a class="dropdown_item" th:href="@{/?lang=ru}">рус</a></li>
                <li><a class="dropdown_item" th:href="@{/?lang=en}">eng</a></li>
            </ul>
            <div class="authorization">
                <a th:href="@{/targets}" class="menu_link sign" th:text="#{nav.login}"></a>
                <a th:href="@{/login}" class="menu_link sign" th:text="#{nav.registration}"></a>
            </div>
        </div>
    </div>
</body>
</html>