<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>
    <div th:fragment="navigation(activeTab)">
        <div class="nav">
            <img class="logo" src="logo.png" alt="logo">
            <ul class="menu_list">
                <li><a th:href="@{/}" class="menu_link">Главная</a></li>
                <li><a th:href="@{/targets}" class="menu_link">Добавить цель</a></li>
                <li><a th:href="@{/plan}" class="menu_link">Мои планы</a></li>
                <li><a th:href="@{/profile}" class="menu_link">Профиль</a></li>
            </ul>
            <div class="authorization">
                <a th:href="@{/targets}" class="menu_link sign">Войти</a>
                <a th:href="@{/login}" class="menu_link sign">Регистрация</a>
            </div>
        </div>
    </div>
</body>
</html>