<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title th:text="#{plans.header}"></title>
    <link rel="stylesheet" th:href="@{style.css}">
    <script src="https://kit.fontawesome.com/90f5d1d736.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="container">
    <div class="top">
        <div th:replace="~{navigation :: navigation(plan)}"></div>
        <div class="header" th:text="#{plans.header}"></div>
        <div class="main">
            <div class="target__block" th:each="d : ${days}">
                <div class="target target__top">
                    <div class="day__title" th:text="${d.title}"></div>
                    <a class="btn_edit" th:href="@{/targets}">
                        <img class="edit_img edit_img_else" src="plus-solid.svg" alt="edit-regular">
                    </a>
                </div>
                <div class="target target__bottom" th:each="t : ${d.dayTargets}" th:if="${t.user == user}">
                    <div class="target target__title" th:text="${t.title}"></div>
                    <div class="target target__priority" th:text="${t.priority}"></div>
                    <div class="target target__creation" th:text="${t.creation}"></div>
                    <div class="target target__time" th:text="${t.time}"></div>

                    <a class="btn_edit" th:href="@{'/targets?id=' + ${t.id}}">
                        <img class="edit_img" src="edit-regular.svg" alt="edit-regular">
                    </a>
                    <a class="btn_edit" th:href="@{'/targets/delete/'+ ${t.id}}">
                        <img class="edit_img edit_img_else" src="calendar-times-regular.svg" alt="trash-alt-regular">
                    </a>
                </div>

            </div>
            <div class="target__block">
                <div class="target target__top">
                    <div class="week__title" th:text="#{plans.week}"></div>
                    <a class="btn_edit" th:href="@{/targets}">
                        <img class="edit_img edit_img_else" src="plus-solid.svg" alt="edit-regular">
                    </a>
                </div>
                <div class="target target__bottom" th:each="t : ${targets}">
                    <div class="target target__title" th:text="${t}"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        &copy Vadim Rybakov product <br>
        <i>svadimio9217@gmail.com</i>
    </div>
</div>
</body>
</html>