<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title th:text="#{plans.header}"></title>
    <link rel="stylesheet" th:href="@{style.css}">
    <script src="https://kit.fontawesome.com/90f5d1d736.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="container">
    <div class="top">
        <div th:replace="~{navigation :: navigation(plan)}"></div>
        <div class="header" th:text="#{targets.header}"></div>
        <form class="targets__plan" th:action="@{/plan}" th:object="${target}" method="post">
            <input th:field="*{id}" type="hidden">
            <input th:field="*{user}" type="hidden">
            <div class="target_option">
                <label class="target_head" th:text="#{targets.title}"></label>
                <input th:field="*{title}" type="text" class="target__title"
                       th:placeholder="#{targets.title}" required minlength="5" maxlength="100">
            </div>
            <div class="target_option">
                <label class="target_head" th:text="#{targets.priority}"></label>
                <select th:field="*{priority}">
                    <option th:text="1" th:value="1"></option>
                    <option th:text="2" th:value="2"></option>
                    <option th:text="3" th:value="3"></option>
                    <option th:text="4" th:value="4"></option>
                </select>
            </div>
            <div class="target_option">
                <label class="target_head" th:text="#{targets.creation}"></label>
                <select th:field="*{creation}">
                    <option th:text="#{creation.i}" th:value="#{creation.i}"></option>
                    <option th:text="#{creation.sl}" th:value="#{creation.sl}"></option>
                    <option th:text="#{creation.p}" th:value="#{creation.p}"></option>
                    <option th:text="#{creation.st}" th:value="#{creation.st}"></option>
                    <option th:text="#{creation.n}" th:value="#{creation.n}"></option>
                </select>
            </div>
            <div class="target_option">
                <label class="target_head" th:text="#{targets.time}"></label>
                <input th:field="*{time}" type="text"  placeholder="00:00:00"
                       class="target__title" pattern="[0-9]{2}:[0-9]{2}:[0-9]{2}" required>
            </div>
            <div class="target_option">
                <label class="target_head" th:text="#{targets.day}"></label>
                <select th:field="*{days}">
                    <option th:each="d : ${days}" th:text="${d.title}" th:value="${d.id}"></option>
                </select>
            </div>
            <button type="submit" class="btn_save target_option"></button>
        </form>
        <div class="header" th:text="#{plans.header}"></div>
        <div class="main">
            <div class="target__block" th:each="d : ${days}">
                <div class="target target__top">
                    <div class="day__title" th:text="${d.title}"></div>
                </div>
                <div class="target target__bottom" th:each="t : ${d.dayTargets}" th:if="${t.user == user}">
                    <div class="target target__title" th:text="${t.title}"></div>
                    <div class="target target__priority" th:text="${t.priority}"></div>
                    <div class="target target__creation" th:text="${t.creation}"></div>
                    <div class="target target__time" th:text="${t.time}"></div>

                    <a class="btn_edit" th:href="@{'/plan?id=' + ${t.id}}">
                        <img class="edit_img" src="edit-regular.svg" alt="edit-regular">
                    </a>
                    <a class="btn_edit" th:href="@{'/plan/delete/'+ ${t.id}}">
                        <img class="edit_img edit_img_else" src="calendar-times-regular.svg" alt="trash-alt-regular">
                    </a>
                </div>

            </div>
            <div class="target__block">
                <div class="target target__top">
                    <div class="week__title" th:text="#{plans.week}"></div>
                </div>
                <div class="target target__bottom" th:each="t : ${targets}">
                    <div class="target target__title" th:text="${t}"></div>
                </div>
            </div>
        </div>
        <div class="description">
            <div class="description_type">
                <h3 class="header" th:text="#{targets.priority.time}"></h3>
                <div  th:each="p : ${priority_time}">
                    <div class="description_list_title" th:text="${p}"></div>
                </div>
            </div>
            <div class="description_type">
                <h3 class="header" th:text="#{targets.creation.time}"></h3>
                <div  th:each="c : ${creation_time}">
                    <div class="description_list_title" th:text="${c}"></div>
                </div>
            </div>
        </div>
        <div class="description">
            <ul class="description_type">
                <h3 class="header" th:text="#{targets.priority}"></h3>
                <li class="description_list" th:text="#{priority.max}"></li>
                <li class="description_list" th:text="#{priority.high}"></li>
                <li class="description_list" th:text="#{priority.med}"></li>
                <li class="description_list" th:text="#{priority.low}"></li>
            </ul>
            <ul class="description_type">
                <h3 class="header" th:text="#{targets.creation}"></h3>
                <li class="description_list" th:text="#{creation.spirit}"></li>
                <li class="description_list" th:text="#{creation.social}"></li>
                <li class="description_list" th:text="#{creation.intelligence}"></li>
                <li class="description_list" th:text="#{creation.physical}"></li>
                <li class="description_list" th:text="#{no.creation}"></li>
            </ul>
        </div>

    </div>
    <div th:replace="~{footer :: footer(plan)}"></div>
</div>
</body>
</html>