<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div class="container">
    <br>
    <h1 th:text="${userDto.getLogin() + '!'}"></h1>
    <p style="margin-bottom: 40px">Please, restore your password by clicking the link below</p>
    <a th:href="@{'http://localhost:8189/mycreation/reset/password/'+${userDto.getToken()}}">reset password</a>
    <p>Thanks for using our service</p>
</div>
</body>
</html>